/*/*1150px*/

@media(max-width:1150px){
	
	.container {
		padding:0 40px;
}


.aboutcontent .img_section{
    width: 100%;
}
.aboutcontent .img_section img{
	display: block;
	margin: auto;
}

#services .card_content{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-row-gap:2rem;
}
}


/*navbar section starts*/
@media(max-width:950px){

.btn .menu-btn {
  display: block;
}
/*navbar section ends

/*hero section starts*/


/* hero section ends */

/*about responsive starts*/

.aboutcontent .img_section{
    width: 100%;
}
.aboutcontent .img_section img{
	display: block;
	margin: auto;
}
/*about section ends */

/*services section starts */
#services .card_content{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-row-gap:2rem;
}
}





@media(max-width:748px){

/*navbar starts*/
.btn.btn-menu{
	display: block;
	font-size: 2rem;
}

nav{
	display: none;
	
}
nav.active{
	display: block;
	transition: all 0.5s ease-in-out;
	position: fixed;
	flex-direction: column;
	min-width: 280px;
	min-height: 80vh;
	top: 0;
	right:0;
	background:#283747;
	padding: 0.4rem 2.5rem;
	align-items: flex-start;
	justify-content:centre;
}

nav li{
	list-style: none;
	margin-top: 2rem;
}
.btn .close-btn{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	color:white;
}
/*navbar ends */

/*hero section starts*/

#hero .content_manage img{
  display:none;
 }
#hero .content_manage{
grid-template-columns: repeat(1, 1fr);
text-align:center;
}
#hero .hero_content{
  display: flex;
  flex-direction: column;
  justify-content: centre;
  height: 50vh;
  width: 100%;
  margin-left: 0px;
}




#hero .hero_content .txt_content{
  display: flex;
  justify-content:centre;
  text-align: center;
  padding-left: 4rem;
}

#hero .hero_content .txt-1{
  font-size: 2rem;
}

#hero .hero_content .txt-2{
font-size: 2.5rem;
}

#hero .hero_content .normaltxt{
  font-size: 2.5rem;
  
}
/*margin right fixes the issue of space between words */

#hero .hero_content .changetxt{
  font-size: 2.5rem;
}
/* hero section ends */



/*about section starts*/
section {
padding:3.5rem 0 ;
}
.aboutcontent{
	grid-template-columns: repeat(1, 1fr);
	width: 100%;
	/*display: flex;
	flex-wrap: wrap;
	justify-content: space-between ;*/
}

#about .title{
	margin-bottom: 2rem;
	padding-bottom:2rem ;
}

#about .title::before{
  content:"";
  width: 7rem;
  height: 4px;
  background: #27ae60;
  position: absolute;
  top:35%;
}

.aboutcontent .img_section{
  width: 490px;
  height: 490px;
}
.aboutcontent .img_section img{
width: 380px;
height: 380px;
}

/*responsive about ends*/

/*services section starts */
#services .card_content{
	grid-template-columns: repeat(1, 1fr);
	grid-row-gap: 2rem;
/*	width: 100%;*/
}
/*services section ends*/


/*skills section starts*/
.skills_container{
	grid-gap: 3rem;
	grid-template-columns: repeat(1, 1fr);
}
/*skills section ends */


/*my  team section starts*/
/*my team section ends */

/*My contacts section starts*/
#contact .contact_container{
	grid-template-columns: repeat(1, 1fr);
}
/*my contact section ends */
}



@media(max-width:600px){

/*navbar starts*/
.btn.btn-menu{
	display: block;
	font-size: 2rem;
}

nav{
	display: none;
	
}
nav.active{
	display: block;
	transition: all 0.5s ease-in-out;
	position: fixed;
	flex-direction: column;
	min-width: 280px;
	min-height: 80vh;
	top: 0;
	right:0;
	background:#283747;
	padding: 0.4rem 2.5rem;
	align-items: flex-start;
	justify-content:centre;
}

nav li{
	list-style: none;
	margin-top: 2rem;
}
.btn .close-btn{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	color:white;
}
/*navbar ends */

/*hero section starts*/

#hero .content_manage img{
  display:none;
 }
#hero .content_manage{
grid-template-columns: repeat(1, 1fr);
text-align:center;
}
#hero .hero_content{
  display: flex;
  flex-direction: column;
  justify-content: centre;
  height: 50vh;
  width: 100%;
  margin-left: 2px;
}




#hero .hero_content .txt_content{
  display: flex;
  justify-content:centre;
  text-align: center;
  padding-left: 4rem;
}

#hero .hero_content .txt-1{
  font-size: 2rem;
}

#hero .hero_content .txt-2{
font-size: 2.5rem;
}

#hero .hero_content .normaltxt{
  font-size: 2.5rem;
  
}
/*margin right fixes the issue of space between words */

#hero .hero_content .changetxt{
  font-size: 2.5rem;
}
/* hero section ends */



/*about section starts*/
section {
padding:3.5rem 0 ;
}
.aboutcontent{
	grid-template-columns: repeat(1, 1fr);
	width: 100%;
	/*display: flex;
	flex-wrap: wrap;
	justify-content: space-between ;*/
}

#about .title{
	margin-bottom: 2rem;
	padding-bottom:2rem ;
}

#about .title::before{
  content:"";
  width: 7rem;
  height: 4px;
  background: #27ae60;
  position: absolute;
  top:35%;
}

.aboutcontent .img_section{
  width: 490px;
  height: 490px;
}
.aboutcontent .img_section img{
width: 380px;
height: 380px;
}

/*responsive about ends*/

/*services section starts */
#services .card_content{
	grid-template-columns: repeat(1, 1fr);
	grid-row-gap: 2rem;
/*	width: 100%;*/
}
/*services section ends*/


/*skills section starts*/
.skills_container{
	grid-gap: 3rem;
	grid-template-columns: repeat(1, 1fr);
}
/*skills section ends */


/*my  team section starts*/
/*my team section ends */

/*My contacts section starts*/
#contact .contact_container{
	grid-template-columns: repeat(1, 1fr);
}
}